{
  "openapi": "3.1.0",
  "info": {
    "title": "acyka",
    "description": "What a token opens on acyka: the catalogue, public profiles, and the list, shelves and writing of whoever authorised your application.\n\nEverything here answers **snake_case** and needs a **bearer token** — no route on this door reads a cookie, which is why none of them needs a CSRF rule and why a browser client can call them cross-site. Collections answer `{\"items\": [...]}`, with `total` beside it wherever the caller pages by offset. A single resource answers as itself, at the top level.\n\nEvery answer carries `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset`, including the 429 — a client that reads them backs off, and one that can only see the refusal retries into the wall.\n\nTwo things are deliberately not here. **Video**: `/video/streams` hands back addresses at Kodik, AnimeLib and AniLibria, which are somebody else's files under somebody else's terms. **Rooms**: a room is one process's memory with a stream hanging off it, and the contract a third party would hold is \"this stays open\", which a deploy is not.",
    "contact": {
      "name": "acyka",
      "url": "https://acyka.cc"
    },
    "license": {
      "name": "All rights reserved",
      "url": "https://acyka.cc/terms"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.acyka.cc",
      "description": "production"
    }
  ],
  "paths": {
    "/api/v1/calendar": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "What comes out this week, and what just did.",
        "description": "A projection rather than a schedule: an ongoing series has no per-episode\ntimetable anywhere upstream, so the day of episode *n* is worked out from the\nstart date and a seven-day cadence. Irregular shows are wrong by a few days\nand this says nothing about it, because a calendar that hid everything it was\nnot certain of would be an empty page most weeks. `out` is the part that is\nnot a projection — an episode a dub is already held for is playable now,\nwhatever the arithmetic says.\n\nThe site's `?mine=1` is not offered. It narrows to the reader's own shelf,\nwhich is a second way of asking a question `/v1/lists` already answers, and a\nfilter that means nothing at all for an application speaking for itself. The\n`viewer` argument below is therefore `None` — it exists to answer that\nfilter and there is nothing else it decides.\n\n18+ is the caller's own switch, like every other read here: a calendar is a\nshelf with dates on it, and it must not be the one page that names a title\nthe reader asked not to see.",
        "operationId": "calendar",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "what comes out this week, and what just did",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Airing"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/characters": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "Characters by name.",
        "description": "A resource of its own rather than a kind inside one `/search`. The site has a\nsingle search window because a person typing wants one box, and it answers an\nobject of six collections — a shape built for that window. An application\nlooking for a character wants characters, paged, and asking it to unwrap five\nlists it did not want is the `?include=` this api does not have, backwards.",
        "operationId": "searchCharacters",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "what to search for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "characters by name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_CharacterCard"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/characters/{id}": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "getCharacter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "a character",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Character"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/characters/{id}/titles": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "characterTitles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "where a character appears, and what they are in it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Appearance"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/characters/{id}/voices": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "Whoever has voiced this character, once each, japanese first.",
        "operationId": "characterVoices",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "who has voiced this character, once each, japanese first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Voice"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/collections": {
      "get": {
        "tags": [
          "library"
        ],
        "operationId": "listMyCollections",
        "responses": {
          "200": {
            "description": "the shelves this account made",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Collection"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "library"
        ],
        "operationId": "createCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "the shelf that was made, with its address in `Location`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "description": "a name that is empty, an icon off the allowlist, or one shelf too many",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:write"
            ]
          }
        ]
      }
    },
    "/api/v1/collections/{code}": {
      "get": {
        "tags": [
          "library"
        ],
        "operationId": "getCollection",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "the shelf's code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "one shelf",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:read"
            ]
          }
        ]
      }
    },
    "/api/v1/collections/{code}/items": {
      "get": {
        "tags": [
          "library"
        ],
        "operationId": "collectionItems",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "the shelf's code",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "what is on it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_CollectionItem"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:read"
            ]
          }
        ]
      }
    },
    "/api/v1/collections/{code}/items/{shikimori_id}": {
      "put": {
        "tags": [
          "library"
        ],
        "operationId": "addCollectionItem",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "the shelf's code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shikimori_id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntryBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "the row that was added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionItem"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "library"
        ],
        "operationId": "removeCollectionItem",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "the shelf's code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shikimori_id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "taken off the shelf"
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:write"
            ]
          }
        ]
      }
    },
    "/api/v1/following": {
      "get": {
        "tags": [
          "social"
        ],
        "operationId": "listMyFollowing",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "who this account reads",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Person"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `social:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "social:read"
            ]
          }
        ]
      }
    },
    "/api/v1/following/{nickname}": {
      "put": {
        "tags": [
          "social"
        ],
        "operationId": "followUser",
        "parameters": [
          {
            "name": "nickname",
            "in": "path",
            "description": "who to follow",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "now following"
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `social:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "social:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "social"
        ],
        "operationId": "unfollowUser",
        "parameters": [
          {
            "name": "nickname",
            "in": "path",
            "description": "who to stop following",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "no longer following"
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `social:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "social:write"
            ]
          }
        ]
      }
    },
    "/api/v1/genres": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "The vocabulary the whole catalogue is described in.",
        "operationId": "listGenres",
        "responses": {
          "200": {
            "description": "the vocabulary the catalogue is described in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_String"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/lists": {
      "get": {
        "tags": [
          "library"
        ],
        "summary": "The list, a page at a time.",
        "description": "It used to answer the whole thing, which is the bug this api's own rules\nalready name: a caller with four hundred titles got four hundred rows and a\ncaller with four thousand got four thousand, and the only reason nobody was\nhurt by it is that nobody was using this door. `total` is beside the items\nbecause the paging is by offset, which is exactly when a caller has to know\nhow far the list goes.",
        "operationId": "listMyList",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "narrow to one shelf: `planned` | `watching` | `rewatching` | `paused` | `done` | `dropped`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the caller's own list, a page at a time",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_ListEntry"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:read"
            ]
          }
        ]
      }
    },
    "/api/v1/lists/{shikimori_id}": {
      "put": {
        "tags": [
          "library"
        ],
        "operationId": "saveListEntry",
        "parameters": [
          {
            "name": "shikimori_id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "the row as it now stands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEntry"
                }
              }
            }
          },
          "400": {
            "description": "a status that is not one of the six, or a title that is empty",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "library"
        ],
        "operationId": "removeListEntry",
        "parameters": [
          {
            "name": "shikimori_id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "taken off"
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:write"
            ]
          }
        ]
      }
    },
    "/api/v1/lists/{shikimori_id}/score": {
      "put": {
        "tags": [
          "library"
        ],
        "summary": "What somebody thought of a title, through a token.",
        "description": "The same `plans::domain::rate` the site calls, so the two doors cannot come\nto disagree about what a score is — which is the whole reason the domain\nexists. What differs is what this surface always differs by: 404 where the\nsite answers 204 for a delete that removed nothing.",
        "operationId": "rateListEntry",
        "parameters": [
          {
            "name": "shikimori_id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "the row, with the score on it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEntry"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "library"
        ],
        "operationId": "unrateListEntry",
        "parameters": [
          {
            "name": "shikimori_id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "the score taken off; the row stays"
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `lists:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "lists:write"
            ]
          }
        ]
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "The account, claim by claim, gated exactly as `/oauth2/userinfo` gates them.",
        "description": "It exists beside userinfo rather than instead of it because userinfo's shape\nis fixed by the spec and this one is ours to grow.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "the account this token acts for, claim by claim",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Me"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `profile`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "profile"
            ]
          }
        ]
      }
    },
    "/api/v1/people": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "searchPeople",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "what to search for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "people by name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_PersonCard"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/people/{id}": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "getPerson",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "a person",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonPage"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/people/{id}/characters": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "The other half of a voice actor: who they have played.",
        "operationId": "personCharacters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "who a voice actor has played",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_VoicedRole"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/people/{id}/titles": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "personTitles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "what somebody worked on, and what they did on each",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Appearance"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/posts": {
      "get": {
        "tags": [
          "social"
        ],
        "summary": "The caller's own posts.",
        "description": "Not the feed: `social:read` is permission to read *this person's* social\nlife, not everybody's. A timeline of other people's writing is a different\nquestion with a different answer about who may see what, and it is not\nbehind this word.",
        "operationId": "listMyPosts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the caller's own posts — not a feed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Post"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `social:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "social:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "social"
        ],
        "operationId": "writePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "the post that was written, with its address in `Location`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "400": {
            "description": "empty, too long, or markup that will not close",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `social:write`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "social:write"
            ]
          }
        ]
      }
    },
    "/api/v1/titles": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "listTitles",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "what to search for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "`ranked` by score, `aired_on` by year, `trending` by what is being watched right now; by how watched it is overall otherwise",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "`ongoing` | `released` | `announced`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "description": "`tv` | `movie` | `ova` | `ona` | `special` | `music`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "genre",
            "in": "query",
            "description": "comma-separated; every named genre must be on the title",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "score",
            "in": "query",
            "description": "at least this",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "year_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "year_to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rating",
            "in": "query",
            "description": "the age rating",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "a page of the catalogue, and how long the whole list is",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_TitleCard"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/titles/random": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "One title, at random, out of the ones that can actually be watched here.",
        "operationId": "randomTitle",
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "one title, at random, out of what can be watched here",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TitleCard"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/titles/{id}": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "getTitle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "one title",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Title"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/titles/{id}/characters": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "titleCharacters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "who is in it, main parts first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_TitleCharacter"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/titles/{id}/episodes": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "The preview frames each episode has.",
        "description": "**Not a list of episodes to watch, and deliberately not one.** Where a dub\ncan be played and by whom is `/video/streams`, which is somebody else's files\nunder somebody else's terms and is not on this door at all. This is what the\n`shots` pass pulled onto our own storage, and an episode with no frames is\nsimply absent.",
        "operationId": "titleEpisodes",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the preview frames each episode has",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Episode"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/titles/{id}/related": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "What it *is*, beside what it is like: the sequels, the films and the recaps\n`similar` throws away so a franchise cannot fill its own shelf.",
        "description": "The title asked about is in the list rather than dropped from it, because\nthe one thing this shelf is for is saying where in a sequence somebody is —\n`current` is what lets a client mark it in place.",
        "operationId": "relatedTitles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the franchise: sequels, films and recaps, with the asked-for title marked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Related"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/titles/{id}/screenshots": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "titleScreenshots",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "stills from the title",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_String"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/titles/{id}/similar": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "summary": "What else somebody who liked this would watch.",
        "description": "The weighting is the whole of what makes this useful rather than \"the twelve\nmost popular titles in the catalogue\", and it is not a thing to have two of —\nso this is `similar_to`, the same shelf `/similar` in Discord is.",
        "operationId": "similarTitles",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "what else somebody who liked this would watch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_TitleCard"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/titles/{id}/staff": {
      "get": {
        "tags": [
          "catalogue"
        ],
        "operationId": "titleStaff",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "the shikimori id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "which of a title's three names leads: `en` (romaji), `ru`, `ja`, `uk`, `uz`. Defaults to `en`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "who made it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_TitleStaff"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `catalog:read`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "catalog:read"
            ]
          }
        ]
      }
    },
    "/api/v1/users": {
      "get": {
        "tags": [
          "people"
        ],
        "summary": "People by name.",
        "operationId": "searchUsers",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "what to search for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "people by name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Person"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `people:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "people:read"
            ]
          }
        ]
      }
    },
    "/api/v1/users/{nick}": {
      "get": {
        "tags": [
          "people"
        ],
        "operationId": "getUser",
        "parameters": [
          {
            "name": "nick",
            "in": "path",
            "description": "a nickname the account answers to, current or past",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "a public profile; counts an account keeps to itself are absent rather than zero",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `people:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "people:read"
            ]
          }
        ]
      }
    },
    "/api/v1/users/{nick}/collections": {
      "get": {
        "tags": [
          "people"
        ],
        "operationId": "userCollections",
        "parameters": [
          {
            "name": "nick",
            "in": "path",
            "description": "a nickname the account answers to, current or past",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "the shelves they named and left public",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Collection"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `people:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "people:read"
            ]
          }
        ]
      }
    },
    "/api/v1/users/{nick}/followers": {
      "get": {
        "tags": [
          "people"
        ],
        "operationId": "userFollowers",
        "parameters": [
          {
            "name": "nick",
            "in": "path",
            "description": "a nickname the account answers to, current or past",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "who reads them",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Person"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `people:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "people:read"
            ]
          }
        ]
      }
    },
    "/api/v1/users/{nick}/following": {
      "get": {
        "tags": [
          "people"
        ],
        "operationId": "userFollowing",
        "parameters": [
          {
            "name": "nick",
            "in": "path",
            "description": "a nickname the account answers to, current or past",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "who they read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_Person"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `people:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "people:read"
            ]
          }
        ]
      }
    },
    "/api/v1/users/{nick}/lists": {
      "get": {
        "tags": [
          "people"
        ],
        "summary": "What somebody is watching, if their list is anybody's business.",
        "operationId": "userLists",
        "parameters": [
          {
            "name": "nick",
            "in": "path",
            "description": "a nickname the account answers to, current or past",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "narrow to one shelf: `planned` | `watching` | `rewatching` | `paused` | `done` | `dropped`",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "how many rows, 1-100; 30 by default",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "where to carry on from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "what somebody is watching, if their list is anybody's business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Items_ListEntry"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "403": {
            "description": "the token does not carry `people:read`, or the account it acts for is suspended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "404": {
            "description": "there is nothing there, or it is not yours to read",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          },
          "429": {
            "description": "the minute is spent; `Retry-After` says when",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Refusal"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "people:read"
            ]
          }
        ]
      }
    },
    "/api/v1/users/{nick}/stats": {
      "get": {
        "tags": [
          "people"
        ],
        "operationId": "userStats",
        "parameters": [
          {
            "name": "nick",
            "in": "path",
            "description": "a nickname the account answers to, current or past",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "what their watching adds up to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stats"
                }
              }
            }
          },
          "401": {
            "description": "no token, or a token that is not live",
            "content": {
[...]
